.ribbon{
    background-image: url(/assets/images/Enterprises-banner.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

a {
    text-decoration: none !important;
    color: white !important;
}

/* ================= 
    HEADER
   =================*/
header {
    background-color: black;
}

header h3 {
    padding: .6em 0 0 0;
}

#heading {
    font-family: monospace;
}

header h3,
i {
    color: white;
}

b {
    color: darkgray;

}

b:hover {
    color: white;
}

/* =================
    NAVBAR
   ================= */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;

}

.dot {
    height: 5.5px;
    width: 5.5px;
    background-color: #746bc4;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: .1em;
}

header nav ul li {
    padding-right: 2em;
}

#set-cart {
    padding: 0 0 0 0em;
}

/* toggle */
#toggle {

    color: aliceblue;
    background-color: rgb(255, 255, 255);
}