body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: white !important;
}

/* =================
    SIDEPANEL
   ================= */
/* The sidepanel left menu */
.sidepanel {
    height: 780px;
    /* Specify a height */
    width:0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    /* Toggle from left */
    background-color: #ffffff;
    box-shadow: 60px 5px 179px 8px rgb(255, 255, 255);
    /* White*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 24px;
    /* Place content 60px from the top */
    transition: 0.2s;
    /* 0.5 second transition effect to slide in the sidepanel */
}


/* The sidepanel links */
.sidepanel p,
.sidepanelR p {
    margin-bottom: .1em;
    border-bottom: solid rgb(238, 238, 238) .5px;
}

.sidepanel a,
.sidepanelR a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 17px;
    color: #000000 !important;
    display: block;
    transition: 0.3s;
}

.sidepanel a:nth-child(2) {
    color: #978f8f !important;
    font-size: small;
}


/* Position and style the close button (top right corner) */
.sidepanel .closebtn,
.sidepanelR .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #000000 !important;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
}

/* Settings button */
.openbtnset {
    font-size: 20px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
}

.social1 {
    display: flex;
}

.social1 a {
    padding: 0%;
}



/* =================
    HEADER
   =================*/
header {
    background-color: black;
}

header h3 {
    padding: .6em 0 0 0;
}

#heading {
    font-family: monospace;
}

header h3,
i {
    color: white;
}

b {
    color: darkgray;
    font-weight: 500 !important;

}

b:hover {
    color: white;
}

/* =================
    NAVBAR
   ================= */

.navbar-nav {
    padding-left: 5em !important;
}

/* cart-icon */
#set-cart i:last-child {
    margin-top: 7px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;

}

.dot {
    height: 5.5px;
    width: 5.5px;
    background-color: #746bc4;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: .1em;
}

header nav ul li {
    padding-right: 2em;
}

.setting {
    margin-left: 0em;
}

/* toggle */
#toggle {

    color: aliceblue;
    background-color: rgb(255, 255, 255);
}

/* ===============
    BANNER
   ===============*/

.banner {
    background-image: url(../images/Banner.jpg);
    background-position: center;
    background-size: cover;
    padding: 190px 0 450px;
    position: relative;
    z-index: 0;
}

#img_content {
    border: solid white .1em;
}

#img_content h1 {
    font-size: 2.5rem;
}

.banner #box {
    position: absolute;
    width: 101.1%;
    top: 26em;
    z-index: 1;
}

#arrow-link {
    z-index: 2;
    position: absolute;
    top: 8.5em;

}

.banner i,
.big_cards i {
    font-size: medium;
    position: relative;
    animation: mymove 1s infinite;
    color: white;
}

/* Animation for arrow */
@keyframes mymove {
    0% {
        left: 0px;
    }

    50% {
        left: 5px;
    }

    100% {
        left: 0px;
    }
}

/* ================
    TYPOGRAPHY
   ================*/
p a {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.big_cards a:hover,
.banner a:hover,
.big_cards i:hover,
.banner i:hover {
    color: black !important;
}

h2 {
    color: #978f8f !important;
    font-family: sans-serif;
    letter-spacing: normal;
}

/* ================
    CARDS
   ================ */

#card_row {
    display: fex;

}

#bg-black {
    background-color: black;
}

#card_1 {
    background-image: url(../images/main_card-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 480px 0 185px;
    z-index: 0;
    position: relative;

}

#card-content {
    margin: -14.5em 0 0 10.5em;
    position: absolute;
    z-index: 1;
}



#card_2 {
    background-image: url(../images/main_card-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 480px 0 185px;


}

/* ===================
    hover zoom effect
   =================== */
#container {
    display: inline-block;
    border: 1px solid black;
    overflow: hidden;
}

#container #card_1,
#container #card_2 {
    display: block;
    transition: transform .8s;
}

#container:hover #card_1,
#container:hover #card_2 {
    transform: scale(1.05);
    transform-origin: 50% 50%;
}



/* ===================
    FOOTER
   =================== */
footer .row div {
    border-right: solid white .1em;
}

footer .row div:last-child {
    border-right: 0em;
}

#social {
    padding-bottom: .4em;
}

footer {
    padding-bottom: .8em;
}

/* ===================
    MEDIA 2560px
   =================== */
@media (max-width:2560px) {

    #card-content {
        margin: -14.5em 0em 0 1em;
        position: absolute;
        z-index: 1;
        width: 93%;
    }

    .openbtn {
        display: none;
    }

    .sidepanelR {
        height: 780px;
        /* Specify a height */
        width: 0;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 50;
        right: 0;
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #000c4000, #130e2c);
        /* White*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 80px;
        /* Place content 60px from the top */
        transition: 0.2s;
        /* 0.5 second transition effect to slide in the sidepanel */
    }

    .closebtn p {
        color: #ffffff !important;
    }

    .closebtn p:hover {
        color: #000000 !important;
    }

    .sidepanelR p {
        margin-bottom: 0;
        border-bottom: 0;
        font-weight: bold;
        color: #978f8f !important;
    }

    .sidepanelR p:hover {
        color: white !important;
        background-color: transparent;
    }

    .md-btn {
        display: none;
    }

    .sidepanelR a {
        text-align: right;
    }

}


/* ===================
    MEDIA 991px
   =================== */
@media (max-width:991px) {

    footer .row div:nth-last-child(3) {
        border-right: 0;
    }

    footer .row div:nth-child(5),
    footer .row div:nth-child(6) {
        margin-top: .5em;
    }

    footer img {
        width: 5%;
    }

    #card-content {
        margin: -14.5em .9em 0 .8em;
        position: absolute;
        z-index: 1;
        width: 90%;
    }

    .openbtn {
        display: block;
    }

    .sidepanel {
        box-shadow: 80px 5px 999px 0px rgb(255, 255, 255);

    }

    .sidepanelR {
        height: 780px;
        /* Specify a height */
        width: 0;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        right: 0;
        /* Toggle from right */
        background-color: #ffffff;
        box-shadow: 0px 5px 279px 9px rgb(255, 255, 255);
        background: linear-gradient(to right, #ffffff, #ffffff);
        /* White*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 30px;
        /* Place content 60px from the top */
        transition: 0.2s;

        /* 0.5 second transition effect to slide in the sidepanel */
    }

    .sidepanelR p:hover {
        background-color: #e2e2e2;
        color: #000000 !important;
    }

    .sidepanelR p {
        margin-bottom: .1em;
        color: #000000 !important;
        border-bottom: solid rgb(238, 238, 238) .5px;
        font-weight: normal;
    }

    .sidepanelR .closebtn p {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: #000000 !important;
        background-color: transparent;
        font-weight: normal !important;
    }

    .lg-btn {
        display: none;
    }

    .md-btn {
        display: block;
    }

    .sidepanelR span {
        display: none;
    }

    .sidepanelR a {
        text-align: left;
    }
}

/* ===================
    MEDIA 575px
   =================== */

@media (max-width: 575px) {

    .banner {
        background-image: url(../images/mob_banner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #card_1 {
        background-image: url(../images/mob_card1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0px 0 780px;

    }

    #card_2 {
        background-image: url(../images/mob_card2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0px 0 780px;

    }

    /* hover zoom effect */
    #container:hover #card_1,
    #container:hover #card_2 {
        transform: scale(1);
    }

    footer .row div:nth-child(5),
    footer .row div:nth-child(6) {
        margin-top: 0;
    }

    footer img {
        width: 9%;
    }

    footer .row div {
        padding: .48em;
    }

    footer .row div:nth-child(6) {
        padding-bottom: 0;
    }

    #social {
        padding-top: 1em;
    }

    #card-content {
        width: 92%;
    }

    .openbtn {
        display: block;
    }

    .sidepanelR {
        height: 780px;
        /* Specify a height */
        width: 0;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        right: 0;
        /* Toggle from right */
        background-color: #ffffff;
        box-shadow: 0px 5px 279px 9px rgb(255, 255, 255);
        background: linear-gradient(to right, #ffffff, #ffffff);
        /* White*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 50px;
        /* Place content 60px from the top */
        transition: 0.2s;

        /* 0.5 second transition effect to slide in the sidepanel */
    }

    .lg-btn {
        display: none;
    }

    .sidepanelR span {
        display: none;
    }


}